@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    -webkit-tap-highlight-color: rgb(0,0,0,0);
}
html,
body {
    font-family: 'Manrope', sans-serif;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::selection {
    @apply
    text-white
    dark:text-slate-900
    bg-indigo-500/60
    dark:bg-indigo-400
    ;
}

::-webkit-scrollbar {
    @apply w-1;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-600 rounded-sm;
}