@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope', sans-serif;
}
body.dark {
    color: white;
    background-color: rgb(15 23 42);
}

* {
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: #0ea5e980;
}

.dark ::selection {
    background-color: #0284c780;
}