@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}

::selection {
    color: white;
    background-color: rgb(14 165 233);
}
.dark ::selection {
    color: rgb(23 23 23);
    background-color: rgb(56, 189, 248);
}